<%= form_for admin_words_path, method: :get do |f| %>
  <div class="col-md-2">
    <%= select_tag :category_id, 
      options_for_select(@view_word.categories, params[:category_id]),
        include_blank: t(".all_category"), class: "form-control" %>
  </div>
  <div class="col-md-2">
    <%= select_tag :levels,
      options_for_select(@view_word.levels, params[:levels]),
      include_blank: t(".all_level"),class: "form-control" %>
  </div>
  <% Settings.word_status.each do |key,value| %>
    <div class="col-md-2">
      <div class="radio">
        <%= radio_button_tag :option, value,
          checked = (params[:option] == value || params[:option].blank?) %>
        <div class="radio_fix"><%= value %></div>
      </div>
    </div>
  <% end %>
  <div class="col-md-2">
    <%= f.submit t(".filter"), class: "btn btn-info" %>
  </div>
<% end %>
