<li>
  <div class="col-md-2">
    <%= link_to word.question, "#" %>
  </div>
  <div class="col-md-4">
    <%= t ".created_at" %> : <%=  word.created_at.strftime t ".time_default" %>
  </div>
  <div class="col-md-2">
    <%= word.levels %>
  </div>
  <div class="col-md-2">
    <%= link_to t(".delete"), admin_word_path(word),
      class: "btn btn-xs btn-danger",method: :delete,
      data: {confirm: t(".ask_before_delete")} %>
  </div>
  <div class="col-md-2">
    <%= link_to t(".update"), edit_admin_word_path(word),
      class: "btn btn-xs btn-warning" %>
  </div>
</li>
