<% provide :title, @user.name %>
<div class="content col-md-10 col-md-offset-1" >
  <% if current_user.current_user? @user %>
    <%= render "shared/button_action", user: @user %>
    <table class="table">
      <thead>
        <tr>
          <th><%= t "category" %></th>
          <th><%= t "lesson.level" %></th>
          <th><%= t "duration" %></th>
          <th><%= t "question_count" %></th>
          <th><%= t "score" %></th>
          <th><%= t "status" %></th>
          <th><%= t "action" %></th>
        </tr>
      </thead>
      <tbody>
        <% @lessons.each do |l| %>
          <tr><%= render "lessons/lesson", object:l %></tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @lessons %>
  <% else %>
    <div class="col-md-6 col-md-offset-4">
      <%= image_tag @user.avatar, class: "media-left", size: Settings.avatar_size %>
      <h4><%= @user.name %></h4>
    </div>
    <div class="col-md-8 col-md-offset-1">
      <%= render "follow_form" %>
    </div>
  <% end %>
</div>
