<td><%= object.category.name %></td>
<td><%= object.level.name %></td>
<td><%= object.category.duration %></td>
<td><%= object.category.question_count %></td>
<% if object.finish? %>
  <td>
    <%= object.score %>/<%= object.category.question_count %>
  </td>
  <td>
    <span class="label label-success">
      <%= object.status %>
    </span>
  </td>
  <td>
    <%= link_to t("lesson.view"), object, class:"btn btn-info" %>
  </td>
<% elsif object.start? %>
  <td></td>
  <td>
    <span class="label label-primary">
      <%= object.status %>
    </span>
  </td>
  <td>
    <%= link_to t("lesson.start"), object,
      data: {confirm: t("confirm_message")}, class:"btn btn-info" %>
    </td>
<% elsif object.testing? %>
  <td></td>
  <td>
    <span class="label label-danger">
      <%= object.status %>
    </span>
  </td>
  <td>
    <%= link_to t("lesson.continue"), object, class:"btn btn-info" %>
  </td>
<% end %>
