<% provide :title, @user.name %>
<h1><%= t ".title" %></h1><hr>
<div class="row">
  <div class="col-md-4">
    <div class="profile_label"><%= t ".full_name" %></div>
  </div>
  <div class="col-md-6">
    <%= text_field_tag :fullname, @user.name, 
      class: "form-control" %>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="profile_label"><%= t ".email" %></div>
  </div>
  <div class="col-md-6">
    <%= text_field_tag :emal, @user.email, 
      class: "form-control" %>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="profile_label"><%= t ".created_at" %></div>
  </div>
  <div class="col-md-6">
    <%= text_field_tag :created_at, 
      @user.created_at.strftime(t ".time_default"), 
      class: "form-control" %>
  </div>
</div>
<div class="row">
  <%= link_to t(".return"), admin_users_path %>
</div> 
