<header>
  <div class="top">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <ul class="topleft-info">
            <li><%= t "title" %></li>
          </ul>
        </div>
        <div class="col-md-6" align="right">
          <%= image_tag( "http://railsgirls.com/images/hanoi/framgia_logo.png", 
            size: Settings.logo_size) %>
        </div>
      </div>
    </div>
  </div>  
  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <% if logged_in? %>
          <%= link_to edit_user_path(current_user), class: "navbar-brand" do %>
            <%= image_tag(current_user.avatar, size: Settings.avatar_size) %>
            <h4><%= current_user.name %></h4>
          <% end %>
          <% unless current_user.admin? %>
            <%= render "shared/stats" %>
            <ul class="notification">
              <li class="dropdown">
                <%= link_to t(:notification), "#", id: :notification,
                  url: activities_path, "data-toggle": :dropdown %>
                <b class="caret"></b>
                <ul class="dropdown-menu">
                  <span id="notify" ></span>
                  <li>
                    <span class="label">
                      <%= link_to t("activity.view_all"), activities_path %>
                    </span>
                  </li>
                </ul>
              </li>
            </ul>
          <% end %>
        <% else %>
          <%= link_to login_path, class: "navbar-brand" do %>
            <%= image_tag("guest.png", size: Settings.avatar_size) %>
            <%= t "users.guest" %>
          <% end %>
        <% end %>
      </div>
      <div class="navbar-collapse collapse ">
        <ul class="nav navbar-nav">
          <li><%= link_to t("home"), root_path %></li>
          <% if logged_in? %>
            <% if current_user.admin? %>
              <li><%= link_to t("manage_category"), admin_categories_path %></li>
              <li><%= link_to t("manage_user"), admin_users_path %></li>
              <li><%= link_to t("manage_word"), admin_words_path %></li>
            <% else %>
              <li><%= link_to t("learn_lesson"), current_user %></li>
            <% end %>
            <li><%= link_to t("logout"), logout_path, method: "delete" %></li>
          <% else %>
            <li><%= link_to t("login"), login_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>
